# Dependencies
node_modules/

# Production
dist/
build/

# Environment
.env
.env.local

# Capacitor
android/
ios/
.capacitor/

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
