APP_NAME=SkinCare AI API
ENV=dev
API_V1_PREFIX=/api/v1
DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/skincare
REDIS_URL=redis://redis:6379/0
REDIS_CACHE_TTL_SECONDS=300
JWT_SECRET=replace_me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=14
MODEL_SAVED_PATH=app/models_artifacts/saved_model
MODEL_INPUT_SIZE=224
MODEL_SKIN_TYPES=Oily,Dry,Combination,Normal,Sensitive
MODEL_CONDITIONS=Acne,Hyperpigmentation,Uneven tone,Dehydration,None detected
