ENV=development
PORT=8000
API_V1_PREFIX=/api/v1
CORS_ORIGINS=http://localhost:5173,http://localhost:3000

DATABASE_URL=postgres://postgres:postgres@localhost:5438/skincare?sslmode=disable
REDIS_URL=redis://localhost:6380/0

JWT_SECRET=c9cfc79916312ab549626a3fc81c8e4a0905b14573e8738b3935b48ad4e376b2
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=14

ML_SERVICE_URL=http://localhost:8013

MODEL_SKIN_TYPES=Oily,Dry,Combination,Normal,Sensitive
MODEL_CONDITIONS=Acne,Hyperpigmentation,Uneven tone,Dehydration,Wrinkles,Redness,None detected
